.addToCart-message{
position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;

  padding: 5% 2% 5% 2%;
  opacity: 0;

  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;

  background-color: var(--color-white);
  z-index: 50;
    

}

.addToCart-message .white-button,
.addToCart-message .colored-button{
    width: 50%;
    height: 100%;
}



@media screen and (min-width: 992px){
    
}