



.order-info-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;

    background-color: var(--light-gray-color);
    border-radius: 1em;
    transition: all 0.3s ease-in-out;

    .color-circle{
        border: 2px solid var(--color-white);
    }
}


#shipping-option-1:checked + label,
#shipping-option-2:checked + label{
    background-color: var(--gray-color);

    .color-circle{
        content: "";
        background-color: var(--main-color);
    }
    .color-circle::after{
        color: var(--color-white);
        content: "✔";
    }
    .remove-margin{
        font-weight: 700;
    }
}

/* 
Not working. 
#shipping-option-1:checked ~ #info-total {
    #checkout-total {
      visibility: hidden;
    }
    #checkout-total::after {
      visibility: visible;
      content: "947,-";
    }
  }
  #shipping-option-2:checked ~ #info-total {
    #checkout-total {
      visibility: hidden;
    }
    #checkout-total::after {
      visibility: visible;
      content: "1.076,-";
    }
  } */




@media screen and (min-width: 800px){
    .checkout-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 5%;
    }

    .checkout-total{
        #info-total{
            gap: 30px;
            justify-content: flex-end !important;
        }
         
    }

}
