

.checkout-flex{

}

.order-info-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    background-color: var(--light-gray-color);
    border-radius: 1em;
    transition: all 0.3s ease-in-out;

    .color-circle{
        border: 2px solid var(--color-white);
    }
}


#shipping-option-1:checked + label,
#shipping-option-2:checked + label{
    background-color: var(--gray-color);

    .color-circle{
        background-color: var(--main-color);
    }
}

