



.order-info-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;

    background-color: var(--light-gray-color);
    border-radius: 1em;
    transition: all 0.3s ease-in-out;

    .color-circle{
        border: 2px solid var(--color-white);
    }
}


#shipping-option-1:checked + label,
#shipping-option-2:checked + label{
    background-color: var(--gray-color);

    .color-circle{
        content: "";
        background-color: var(--main-color);
    }
    .color-circle::after{
        color: var(--color-white);
        content: "✔";
    }
    .remove-margin{
        font-weight: 700;
    }
}

.text-input{
  font-family: var(--main-font);
  padding: 0.5em 0.5em;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-color);
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .payment-icons{
    border-radius: 0.7em;
    height: 6rem;
  }

/* 
Not working. 
#shipping-option-1:checked ~ #info-total {
    #checkout-total {
      visibility: hidden;
    }
    #checkout-total::after {
      visibility: visible;
      content: "947,-";
    }
  }
  #shipping-option-2:checked ~ #info-total {
    #checkout-total {
      visibility: hidden;
    }
    #checkout-total::after {
      visibility: visible;
      content: "1.076,-";
    }
  } */



@media screen and (max-width: 799px){
    .bottom-mobile{
        margin-top: auto;
    }
}
@media screen and (min-width: 800px){
    .checkout-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 5%;
    }

    .checkout-total{
        #info-total{
            gap: 30px;
            justify-content: flex-end !important;
        }
         
    }

}
