.pointer{
    cursor: pointer;
}

.pop-up{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  
    padding: 2%;
    opacity: 0;
  
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  
    background-color: var(--color-white);
    z-index: 20; 

    padding: 10%;
}

.filter-button{
    background-color: var(--color-white);
    border: none;
    /* padding: 5% 15% 5% 15%; */
    padding: 5px 15px 5px 15px;
    border-radius: 2em;
    text-align: center;
}
.chosen-filter{
    color: var(--color-white);
    background-color: var(--main-color);
}