.center-text {
  text-align: center;
}
.font-right {
  text-align: end;
}

h1 {
  font-weight: 300;
  font-style: normal;
}

.white-text {
  color: var(--color-white);
}
.blue-font-color {
  color: var(--blue-link-color);
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}

.text-shadow{
  text-shadow: 0px 2px 5px var(--color-dark);
}

/*FONT-SIZES*/

p.img-font,
b.img-font {
  font-size: var(--size-12);
}

.font-size {
  font-size: var(--size-15);
}

.gray-font-s {
  font-size: var(--size-12);
  color: var(--dark-gray-color);
}
i.gray-font-s {
  font-size: var(--size-15);;
  color: var(--dark-gray-color);
}

h4.title {
  font-size: var(--size-14);
  font-weight: 500;
}
h3.title {
  font-size: var(--size-15);
}

h1.freehand-title {
  font-family: "Freehand", cursive;
  font-size: var(--size-30);
  color: var(--color-white);
}

.front-page-font{
  color: var(--color-white);
  font-size: 25px;
}

/*new*/
.menu-font{
  font-size: var(--size-20);
}

@media screen and (min-width: 700px) {
  p.img-font,
  b.img-font {
    font-size: var(--size-14);
  }
  button.font-size,
  a.font-size {
    font-size: var(--size-18);
  }
  h1.freehand-title {
    font-size: var(--size-40);
  }
}

@media screen and (min-width: 992px){
  .front-page-font{
    color: var(--main-color);
    font-size: var(--size-30);
  }
  .menu-font{
    font-size: var(--size-14);
  }
}

@media screen and (min-width: 1100px) {
  .gray-font-s {
    font-size: var(--size-14);
  }
  h4.title {
    font-size: var(--size-15);
  }
  h3.title {
    font-size: var(--size-17);
  }
}

@media screen and (min-width: 1200px){
  .menu-font{
    font-size: var(--size-15);
  }
}

@media screen and (min-width: 1400px) {
  p.img-font,
  b.img-font {
    font-size: var(--size-18);
  }
  .font-size {
    font-size: var(--size-20);
  }
  h1.freehand-title {
    font-size: var(--size-50);
  }
}
