.center-text {
  text-align: center;
}
.font-right {
  text-align: end;
}

h1 {
  font-weight: 300;
  font-style: normal;
}


.blue-font-color {
  color: var(--blue-link-color);
}

.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}

.text-shadow{
  text-shadow: 0px 2px 5px var(--color-dark);
}

/*FONT-SIZES*/
.gray-font-s,
i.gray-font-s{
  color: var(--dark-gray-color);
}

p.img-font,
b.img-font,
.gray-font-s,
.cart-item-fontSize {
  font-size: var(--size-12);
}


h4.title,
h3.cart-item-fontSize {
  font-size: var(--size-14);
}
h4.title{
  font-weight: 500;

}

h3.title,
i.gray-font-s,
.font-size {
  font-size: var(--size-15);
}

h1.freehand-title {
  font-family: "Freehand", cursive;
  font-size: var(--size-30);
}

.front-page-font{
  font-size: var(--size-20);
}

.white-text,
.front-page-font,
h1.freehand-title {
  color: var(--color-white);
}



@media screen and (min-width: 700px) {
  p.img-font,
  b.img-font {
    font-size: var(--size-14);
  }
  button.font-size,
  a.font-size {
    font-size: var(--size-18);
  }
  h1.freehand-title {
    font-size: var(--size-40);
  }
}

@media screen and (min-width: 992px){
  .front-page-font{
    color: var(--main-color);
    font-size: var(--size-30);
  }
}

@media screen and (min-width: 1100px) {
  /* .gray-font-s {
    font-size: var(--size-14);
  } */
  h4.title {
    font-size: var(--size-15);
  }
  h3.title {
    font-size: var(--size-17);
  }
}

@media screen and (min-width: 1400px) {
  p.img-font,
  b.img-font {
    font-size: var(--size-18);
  }
  .font-size {
    font-size: var(--size-20);
  }
  h1.freehand-title {
    font-size: var(--size-50);
  }
}
