footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'img .'
                        'info contact'
                        'bottomText bottomText';
    padding: 3%;
    gap: 5%;
}

.info-grid-name{
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.footer-logo{
    grid-area: img;
    height: auto;
    width: 130px;
    
}
.footer-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.footer-contact-info{
    grid-area: contact;
    align-self: start;

}
.footer-contact-info ul{
  
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: auto;
    grid-template-areas: 'contactIcon contactInfo';
    justify-items: start;
    justify-content: end;
    
    li{
        grid-area: contactInfo;
        align-self: start;
    }
    li p{
        margin: 0;
    }
    img{
        grid-area: contactIcon;
        justify-self: center;
    } 

}






.footer-menu{
    display: flex;
    flex-direction: row;
    
}
.footer-menu a{
    color: var(--color-white);
    padding: 0 3% 0 3%;
    border-right: 1px solid var(--gray-color);
  }
  .footer-menu a:nth-child(1){
      padding-left: 0;
}
.footer-menu a:last-child{
      padding-right: 0;
      border: none;
  }
  

.footer-some{
    text-align: center;
} 

.bottom-footer{
    grid-area: bottomText;
    text-align: center;
    font-size: small;
}