.main-container .header {
  grid-area: header;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header .header-logo {
  width: 40%;
  max-width: 200px;
}

.search {
  width: 70%;
  max-width: 500px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}

.search > label {
  width: 100%;
  border: 0.15em solid var(--main-color);
  padding: 0.2em 0.2em;
  border-radius: 2em;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search input {
  border: none;
  background-color: transparent;
  width: 85%;
  font-family: var(--main-font);
  font-size: var(--font-size-p);
}
.search input:focus,
.text-input:focus  {
  outline: none;
}
.search:focus-within .search-menu-container {
  display: flex;
}

.search img {
  width: 30px;
}

.search-menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: -3px 5px 5px -3px var(--shadow-color);
  padding: 3% 5% 5% 5%;
  margin: 0;
}
.search-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 100%;

  a {
    align-self: center;
  }
  a h2 {
    margin: 50% 0 0 0;
    font-size: var(--size-17);
  }
  ul li a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;

    p, h3{
      margin: 0;
      letter-spacing: normal;
    }
    p{
      font-size: var(--size-12);
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--dark-gray-color);
    }
    h3{

      padding-right: 20px;
      font-size: var(--size-14);
    }
  }
}

#menu {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 13;
}

.back-button {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 13;

  span {
    display: block;
    width: 30px;
    height: 3px;

    background-color: var(--main-color);
    border-radius: 3px;
    position: relative;
    z-index: 13;
  }
  span:nth-child(1),
  span:nth-child(3) {
    width: 20px;
    margin-right: 15px;
  }
  span:nth-child(1) {
    margin-bottom: 3px;
    transform: rotate(-40deg);
  }
  span:nth-child(3) {
    margin-top: 3px;
    transform: rotate(40deg);
  }
}

#menu input {
  position: absolute;
  width: 40px;
  cursor: pointer;
  opacity: 0;
  z-index: 14;
  -webkit-touch-callout: none;
}

#menu label span {
  display: block;
  width: 40px;
  height: 3px;
  margin: 4px 0 4px 0;
  background-color: var(--main-color);
  border-radius: 3px;
  position: relative;
  z-index: 13;
  transition: 0.5s ease-in-out;
  transform-origin: left center;
}
#menu input:checked ~ .circle-button {
  box-shadow: none;
}
#menu input:checked ~ label span {
  transform: rotate(-33deg);
}

#menu input:checked ~ label span:nth-last-child(2) {
  width: 0%;
  opacity: 0;
  transition: 0.5s;
}

#menu input:checked ~ label span:nth-last-child(3) {
  transform: rotate(33deg);
}

.menu-items {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 10px 10px 10px 3%;
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px var(--shadow-color);
}

.menu-items li {
  font-size: var(--font-size-menu);
}


.menu-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.menu-items img {
  width: 30%;
  max-width: 100px;
  min-width: 60px;
}

@media screen and (max-width: 991px) {
  .menu-items :nth-child(n + 4) {
    padding-left: 10%;
  }
  .menu-items :nth-last-child(-n + 3) {
    padding-left: 0%;
  }
  .menu-items :nth-child(7) {
    padding-bottom: 80%;
  }
}

@media screen and (min-width: 992px) {
  .main-container .header {
    height: 70px;
    padding: 10px 5% 10px 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 5px var(--shadow-color);
    z-index: 99;
  }
  .header .header-logo {
    width: 10%;
    max-width: 100px;
  }

  .search {
    align-self: flex-end;
    min-width: 120px;
    width: 20%;
    max-width: 300px;
  }

  .search > label {
    border: none;
    padding: 0;
  }

  .search img {
    width: 20px;
  }

  .search-menu-container {
    left: 0;
    /* margin-top: 10px; */
    width: 150%;
  }
  .search-menu {
    a h2 {
      font-size: var(--size-14);
    }
    ul li a{
      p{
        font-size: var(--size-14);
      }
      h3{
        font-size: var(--size-15);
      }
    }
  }

  #menu {
    align-self: flex-end;
    position: initial;

    background-color: transparent;
  }
  #menu input {
    display: none;
    z-index: -1;
  }
  #menu label {
    display: none;
    z-index: -1;
  }

  #menu label span {
    display: none;
    z-index: -1;
  }

  .menu-items {
    position: initial;

    width: auto;
    height: auto;

    opacity: 1;

    transform: none;
    transition: none;

    padding: 0px;
    background-color: transparent;
    box-shadow: none;
  }

  .menu-items li {
    padding: 0;
  }

  #menu input:checked ~ ul {
    transform: none;
  }

  .menu-layout {
    width: auto;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
  }

  .bold-font {
    font-weight: 900;
  }
}

@media screen and (min-width: 1300px) {
  .menu-layout {
    gap: 2rem;
  }

  .main-container .header {
    padding: 10px 10% 10px 10%;
  }
}
