main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.main-top-section{
display: flex;
flex-direction: column;
align-items: center;
}


















    .card-img{
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'col1 col2';
    }

    .col1{
        grid-area: col1;
        h1{
            font-weight: 600;
            margin: 0;
        }
        p{
            font-size: small;    
        }
        a{
            font-size: small;
            letter-spacing: normal;
            font-weight: 700;
        }
    }
    .col2{
        grid-area: col2;
    }

.turgåere2-background{
    background-image: url(../../assets/images/turgåere2.jpg);
    border-radius: 1em;
    width: 90%;
    height: 100%;
    padding: 5%;
}

.turgåere1-background{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.164) 10%,
              rgba(255,255,255,1)), url(../../assets/images/turgåere.jpg);
    background-position: center top;
    width: 100%;
    height: 100%;
    padding: 5%;


}

.background-img-gradient-left{
    background-image: linear-gradient(to left, rgba(255,255,255,0) 60%,
              rgba(255,255,255,1)), url(../../assets/images/man_with_sunshine.jpg);
}
.background-img-gradient-right{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 60%,
              rgba(255,255,255,1)), url(../../assets/images/woman_and_mountains.jpg);
}


.img-icon{
    width: 60px;
}

.category-icons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a img{
        height: 50px;
    }
    a b{
        font-size: small;
    }
}



@media screen and (min-width: 992px){
    .main-top-section{
        flex-direction: row;
        }
}