main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}


.main-top-section{
display: flex;
flex-direction: column;
align-items: center;
}


















    .card-img{
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'col1 col2';
    }


    .card-img-precent{
        grid-template-columns: 45% 10% 45%;
        grid-template-areas: 'col1 . col2';

        .col2{
            text-align: end;
        }

    }

    .col1{
        grid-area: col1;
        h1{
            font-weight: 600;
            margin: 0;
        }
        p{
            font-size: 12px;    
        }
        a{
            font-size: small;
            letter-spacing: normal;
            font-weight: 700;
        }
    }
    
    .col2{
        grid-area: col2;
        p{
            font-size: 12px;    
        }
    }

.turgåere2-background{
    background-image: url(../../assets/images/turgåere2.jpg);
    background-position: center left;
    border-radius: 1em;
    width: 90%;
    height: 100%;
    padding: 5%;
}

.turgåere1-background{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.164) 10%,
              rgba(255,255,255,1)), url(../../assets/images/turgåere.jpg);
    background-position: left top;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.background-img-gradient-right{
    background-image: linear-gradient(to right,rgba(2,0,36,0) 40%,
     rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%),
      url(../../assets/images/man_with_sunshine.jpg);
    background-position: left top;
    width: 100%;
    height: 230px;
    padding: 3%;
}
.background-img-gradient-left{
    background-image: linear-gradient(to left,rgba(2,0,36,0) 40%,
     rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%),
      url(../../assets/images/woman_and_mountains.jpg);
    background-position: left top;
    width: 100%;
    height: 230px;
    padding: 3%;
}


.img-icon{
    width: 60px;
}
.img-logo-left{
    justify-self: start;
    align-self: end;
}
.img-logo-right{
    justify-self: end;
    align-self: end;
}

.category-icons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    row-gap: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%; */
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a img{
        width: 40%;
        max-width: 40px;
    }
    a b{
        font-size: small;
    }
}

@media screen and (max-width: 991px){
    .col1-full{
        grid-column-start: col1;
        grid-column-end: col2;
    }
}

@media screen and (min-width: 850px){
    .main-top-section{
        flex-direction: row;
        }
        .turgåere2-background{
            border-radius: 0;
            width: 100%;
        }

        .turgåere2-background,
        .turgåere1-background{
            padding: 3%;
        }
}

@media screen and (min-width: 992px){
    main{
        margin-top: 70px;
    }
        
}
@media screen and (min-width: 1200px){
    
        
}