main{
    display: flex;
    flex-direction: column;
    gap: 2%;
}


.main-top-section{
display: flex;
flex-direction: column;
align-items: center;
}
.main-top-section div{
    width: 100%;
    padding: 5%;
    }






















    .card-img{
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

.turgåere2-background{
    background-image: url(../../assets/images/turgåere2.jpg);
}

.turgåere1-background{
    background-image: url(../../assets/images/turgåere.jpg);
    background-position: top;

}

.background-img-gradient-left{
    background-image: linear-gradient(to left, rgba(255,255,255,0) 60%,
              rgba(255,255,255,1)), url(../../assets/images/man_with_sunshine.jpg);
}
.background-img-gradient-right{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 60%,
              rgba(255,255,255,1)), url(../../assets/images/woman_and_mountains.jpg);
}


.img-icon{
    width: 60px;
}

.white-buttons{
    background-color: var(--color-white);
    color: var(--main-color);
    border-radius: 1em;
    a{
        padding: 20px;
    }
}



@media screen and (min-width: 992px){
    .main-top-section{
        flex-direction: row;
        }
}