.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}


.item-slider {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    overflow-x: scroll;
}

.item-slider::-webkit-scrollbar {
    display: none; 
}

.item-slider{
    display: flex;
    flex-direction: row;
    gap: 5%;
    height: 400px; 

    /* aspect-ratio: 16 / 9; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.item-slider .img-card-item{
    scroll-snap-align: start;

    box-sizing: border-box;
    min-width: 220px;
    max-width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    padding: 0 2% 2% 2%;
 

    box-shadow: 0px 8px 10px -5px var(--shadow-color);

    p{
        color: var(--dark-gray-color);
        font-size: 12px;
        flex-grow: 1;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        h4, h3{
            margin: 0;
        }
        h4{
            font-size: 13px;
        }
        h3{
            font-size: 15px;
        }
    }
    a{
        align-self: center;
        font-size: large;
    }
}
.img-container{
    height: 50%;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.item-slider .view-more-card>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        width: 100px;
        height: 100px;
        border: 1px solid var(--color-dark);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        font-weight: 200;
    }
}


















.slider-nav{
    display: flex;
    column-gap: .5rem;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    input{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    label a {
        height: 100%;
        width: 100%;
    }
}

.slider-nav label {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    transition: all .3s ease-in-out;
}

.slider-nav input[type="radio"]:checked + a label{
    border: 1px solid var(--color-dark);
    background-color: var(--color-white);
} 