.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}


.item-slider {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    overflow-x: scroll;
}

.item-slider::-webkit-scrollbar {
    display: none; 
}

.item-slider{
    display: flex;
    flex-direction: row;
    gap: 5%;
    height: 450px; 

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.item-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    

    .colored-button{
        width: auto;
    }
    
}
.item-slider .img-card-item,
.item-display .img-card-item{
    scroll-snap-align: start;
    
    box-sizing: border-box;
    min-width: 220px;
    max-width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    padding: 0 2% 2% 2%;
    box-shadow: 0px 5px 10px -5px var(--shadow-color);
    p{
        
        color: var(--dark-gray-color);
        flex-grow: 1;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        h4, h3{
            margin: 0;
        }
    }
    a{
        align-self: center;
    }
}
.item-display .img-card-item{
    min-width: auto;
    max-width: auto;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% auto auto 30% auto;
    grid-template-areas: 'image'
                        'colorCircle'
                        'title'
                        'description'
                        'button';

    box-shadow: 0px -5px 10px -8px var(--shadow-color);
    padding: 1%;
    .img-container{
        grid-area: image;
        height: 100%;
    }
    .flex-row{
        grid-area: colorCircle;
    }
    .title{
        grid-area: title;
    }
    p{
        grid-area: description;
        flex-grow: 0;
    }
    .colored-button{
        grid-area: button;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.img-container{
    height: 50%;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.item-slider .view-more-card>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        width: 100px;
        height: 100px;
        border: 1px solid var(--color-dark);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        font-weight: 200;
    }
}


















.slider-nav{
    display: flex;
    column-gap: .5rem;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    input{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    label a {
        height: 100%;
        width: 100%;
    }
}

.slider-nav label {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    transition: all .3s ease-in-out;
}

.slider-nav input[type="radio"]:checked + a label{
    border: 1px solid var(--color-dark);
    background-color: var(--color-white);
} 


@media screen and (min-width: 992px){
    .slider-wrapper{
        max-width: 90%;
    }    
}

@media screen and (min-width: 1100px){
    
    .slider-nav{
        display: none;
    }
    .slider-wrapper{
        max-width: 100%;
    }   
    .item-slider{
        gap: 3%;
        height: 100%; 
        overflow-x: hidden;
        justify-content: center;
    } 

    .item-slider .img-card-item,
    .item-display .img-card-item{
        min-width: 250px;
        max-width: 250px;
        height: auto;
        justify-content: center;
        padding:0;
        box-shadow: none;
        p{
            margin-bottom: 0;
        }
        div{
            h4, h3{
                margin: 0;
                margin-top: 2%;
            }

        }
        p, div h3, ul{
            margin-right: 7%;
        }
        p, div h4, ul{
            margin-left: 7%;
        }
    }
    .img-container{
        box-shadow: 0px 5px 10px -5px var(--shadow-color);
        border-radius: 1em;
        padding: 8%;
    }
    .item-display .img-card-item{
        box-shadow: 0px -5px 10px -8px var(--shadow-color);

        .img-container{
            box-shadow: none;
        }
    }


    .item-slider .view-more-card{
        display: flex;
        height: 235px;
        box-shadow: 0px 5px 10px -5px var(--shadow-color);
        border-radius: 1em;

        justify-content: flex-start;
        text-align: center;
        padding-top: 2%;

    }
}