.shoppingCart-button{
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  .shoppingCart-button img{
    width: 80%;
  }
  .shopping-cart{
    align-self: flex-end;
    display: flex;
  }
  
  #shopping-cart{
    position: fixed;
    top: 0; 
    right: 0;
    width: 100%; 
    height: 100vh;

    display: flex;
    
    padding: 2%; 
   
    opacity: 0;
    
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    

    background-color: var(--color-white);
    box-shadow: 0px 0px 5px var(--shadow-color);

    z-index: 50;

    
}

#shopping-cart .items{
  

  display: flex;
  flex-direction: column;
  
}

.shopping-cart input{
    display: none;
}

.shopping-cart input:checked ~ #shopping-cart {
    transform: translateX(0);
    opacity: 1;
}


.added-items{
  display: grid;
  grid-template-columns: auto 65%;
  grid-template-rows: auto;
  grid-template-areas: 'image info';
  align-items: center;
  margin-bottom: 5%;
  border-radius: 1em;
  
  -webkit-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.27);
}
.item-img{
  grid-area: image;
  width: 100%;
  height: 80%;
  object-fit: contain;
  padding: 0 3% 0 3%;
  margin: 2% 0 2% 0;
  border-right: 2px solid var(--gray-color);


  display: flex;
  justify-content: center; 
  align-items: center; 
}
.item-img img{
  width: 80%;
  height: auto;
}

.added-items table{
  grid-area: info;
  text-align: start;
  padding: 0 3% 0 3%;
}


.cart-order-info div{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
}


@media screen and (min-width: 1000px){
    #shopping-cart{
        width: 45%; 
        height: 80%;
        font-size: smaller;
    }
}