/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-white: #FFFFFF;
  --color-dark: #000000;
  --main-color: #0A3641;
  --gray-color: #D3D3D3;
  --dark-gray-color: #9f9c9c;

  --blue-link-color: #004CFF;
  --item-color-orange: #E85836;

  --shadow-color: rgba(0, 0, 0, 0.595);

  --main-font: "Poppins", sans-serif;
  --font-size-p: 18px;
  --font-size-menu: 20px;

  --desktop-width: 992px;
  --desktop-width-large: 1200px;

  --background-img: url(../../assets/images/turgåere.jpg);
  
  --card-img-1: url(../../assets/images/man_with_sunshine.jpg);
  --card-img-2: url(../../assets/images/woman_and_mountains.jpg);
  --card-img-3: url(../../assets/images/three_on_a_hike.jpg);
  --card-img-4: url(../../assets/images/turgåere2.jpg);

  --card-img-5: url(../../assets/images/girl_smiling.jpg);

  --about-us-img-1: url(../../assets/images/elderly_smiling.jpg);
  --about-us-img-2: url(../../assets/images/elderly_and_mountain.jpg);


  --product-male-1: url(../../assets/images/products/RainyDays_Jacket1transparent.png);
  --product-male-2: url(../../assets/images/products/RainyDays_Jacket33.png);
  --product-male-3: url(../../assets/images/products/RainyDays_Jacket6.png);
  --product-male-4: url(../../assets/images/products/RainyDays_Jacket5.png);

  --product-women-1: url(../../assets/images/products/RainyDays_Jacket244.png);
  --product-women-2: url(../../assets/images/products/RainyDays_Jacket4r.png);
  --product-women-3: url(../../assets/images/products/RainyDays_Jacket7.png);
}

/*
small-devices-width: 600px;
desktop-width: 992px;
desktop-width-large: 1200px;
*/

@media screen and (min-width: 992px){
  :root {
    --font-size-p: 14px;
    --font-size-menu: 13px;
  }
}

@media screen and (min-width: 1200px){
  :root {
    --font-size-menu: 15px;
  }
}