/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-white: #eff3ee;
  --color-dark: #000000;
  --main-color: #0A3641;

  --main-font: "Poppins", sans-serif;
  --font-size-p: 18px;
  --font-size-menu: 20px;
}

@media screen and (min-width: 900px){
  :root {
    --font-size-p: 14px;
    --font-size-menu: 13px;
  }
}